# compiled Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/lb/lb
bin/


vendor/


.DS_Store
Thumbs.db


*.swp
*.swo
*~
.netrwhist

.idea/

.vscode/
*.code-workspace


*.log
*.prof
*.out

.env
.env.local